*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .mechdev {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; /* Add margin to the bottom of .webdev to create space between the top content and the card */
  }
  
  .image-container-m {
    position: relative;
    width: 100vw;
    height: 60vh;
    padding-bottom: 3.2rem;
    overflow: hidden;
    /* max-height: 400px; */
    margin-top: 40; /* Adjust margin as needed */
  }
  
  .project-image-m {
    width: 100%;
    /* max-width: 400px; */
    height: auto;
    max-height: 100%;
    border-radius: 8px; /* Optional: Add rounded corners */
  }
  
  .image-overlay-m {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image-text-m {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color */
  }
  
  .image-text-m h2 {
    margin-top: 20px;
    font-size: 40px;
    margin: 0;
  }
  .image-text-m h1 {
    font-size: 20px;
    margin: 0;
  }
  .image-wrapper {
    margin-top: 1rem;
    display: flex;
  
  }
  
  .image {
    width: 100vw;
    height: 60vh;
    padding-bottom: 3.2rem;
  }
  
  
  .mechdev {
    position: relative;
  }
  
  .content-box-m {
    max-width: 800px; /* Set a maximum width for better responsiveness */
    margin: 0 auto; /* Center the content horizontally */
    padding: 50px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent; /* Example background color */
    border: 1px solid orange; /* Example border */
    border-radius: 8px; /* Example border-radius */
  }
  
  
  .header-image-m {
    width: 100%; /* Make the image fill the width of the container */
    max-height: 200px; /* Set a maximum height for the image */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 8px 8px 0 0; /* Apply border-radius to the top corners */
  }
  
  
  #title {
    text-align: center;
  }
  
  
  .content-box-m-a {
    max-width: 800px; /* Set a maximum width for better responsiveness */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px;
    box-sizing: border-box;
    background-color:#f0f0f0; /* Example background color */
    border: 1px solid  #f0f0f0; /* Example border */
    border-radius: 8px; /* Example border-radius */
  }
  
  .learning-box-m-a{
    padding-left: 0;
    list-style-position: inside;
  
  }
               
  .learning-list-m-a {
    display: flex;
    justify-content: space-around; /* Adjust as needed: space-around, space-between, center, etc. */
    list-style-type: none;
    padding: 0;
  }
  
  .learning-list-m-a li {
    text-align: center; /* Center the text within each list item */
    width: 150px; /* Adjust the width of each list item as needed */
    margin: 10px; /* Add margin for spacing between list items */
    border: 1px solid #0a0a0a; /* Add border for better visibility */
    border-radius: 8px; /* Add border-radius for rounded corners */
    padding: 10px; /* Add padding for better visual appeal */
    background-color: #f1efef;
  }
  
  .register-button-container-m {
    /* text-align: center; */
    margin-top: 20px;
    /* padding-bottom: 3.2rem; */
  }
  
  .register-button-m {
    margin-top: 200px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e1880b; /* Change this to your desired color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button-m:hover {
    background-color: #1e94e3; /* Change this to your desired hover color */
  }
  
  .back-button {
    text-decoration: none;
    background-color: #e2e7ec; /* Button color */
    color: #110f0f; /* Text color */
     /* padding: 8px 16px; Padding around the text */
    padding: 10px;
    margin: 0;
    width: 100px;
    /* border: 2px solid #000;  */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Font size */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
  
    /* Additional styles for better appearance */
    /* border-color: #0a0a0a;
    outline-color: #0a0a0a; */
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    top: 100px; /* Adjust the top position as needed */
  }
  
  .back-button:hover {
    background-color: #e1880b; /* Darker color on hover */
  }
  
  .accordion .item {
    border-color: #e1880b; 
  }

  .accordion .item .accordion-header button{
    background-color: transparent;
    font-size: large;
    border-color: #e1880b;
    box-shadow: none; 
   
   }
   .accordion .item .accordion-header {
    text-decoration-color: #e1880b;
   }

   .content-docs .h2{
    font-size: medium;
    font-weight: 200;
   }
  
   .content-box-a {
    background-color: orange; /* Set the background color to orange */
    padding: 20px; /* Add padding to provide space inside the box */
    margin-top: 20px; /* Add margin to create space between boxes */
    border-radius: 10px; /* Add border-radius for rounded corners */
    width: 80%; /* Set the desired width (adjust as needed) */
    margin-left: auto; /* Center the box horizontally */
    margin-right: auto; /* Center the box horizontally */
  
  }
  


 
